[Unit]
Description=Tetragon eBPF Security Observability & Enforcement
After=network.target sys-fs-bpf.mount
Wants=sys-fs-bpf.mount

[Service]
Type=simple
# Path aggiornati per le root immutabili (/usr/bin/ invece di /usr/local/bin/)
ExecStartPre=+/usr/sbin/restorecon -v /usr/bin/tetragon /usr/bin/tetra
ExecStart=/usr/bin/tetragon --bpf-lib=/usr/lib/tetragon/ --export-filename=/var/log/tetragon/tetragon.log
Restart=on-failure
RestartSec=5
LogsDirectory=tetragon
RuntimeDirectory=tetragon

# Hardening standard
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
ProtectKernelTunables=false
ProtectControlGroups=false
RestrictNamespaces=no
MountFlags=shared

[Install]
WantedBy=multi-user.target
