[Unit]
Description=Ermete OS UKI Sync Service
ConditionPathExists=/usr/local/bin/ermete-uki-sync.sh

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ermete-uki-sync.sh

[Install]
WantedBy=multi-user.target
